.symbols-group {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50%;
  z-index: 30;

  &--left {

    @media (max-width: $width-tablet) {
      display: none;
    }
  }

  &--right {
    margin-left: -2px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    &--letter-shadow {
      position: relative;
    }
  }

  &--left .symbols-group__symbol {

    &--black {
      margin-top: -2px;
      margin-left: 10px;
    }

    &--white {
      content: "";
      position: absolute;
      bottom: 15px;
      left: 450px;
    }
  }

  &--left .symbols-group__letter {

    &--a {
      margin-top: 26px;
      margin-left: 84px;
    }

    &--f-top {
      margin-top: 10px;
      margin-left: 49px;
    }

    &--f-bottom {
      margin-top: 15px;
      margin-left: 113px;
    }

    &--i {
      margin-top: 28px;
      margin-bottom: 10px;
      margin-left: 45px;
    }

    &--n {
      margin-bottom: 30px;
      margin-left: 111px;
    }
  }

  &--right .symbols-group__symbol {

    &--white {
      margin-top: 5px;
      margin-left: 33px;

      @media (max-width: $width-tablet) {
        margin-right: 80px;
        margin-bottom: 28px;
      }
    }

    &--black {
      margin-top: 40px;
      margin-left: 42px;

      @media (max-width: $width-tablet) {
        content: "";
        position: absolute;
        top: -282px;
        right: -83.8%;
        margin: 0;
      }
    }
  }

  &--right .symbols-group__letter {

    &--a {
      margin-top: 24px;
      margin-left: -2px;

      @media (max-width: $width-tablet) {
        display: none;
      }
    }

    &--e {
      margin-top: 60px;
      margin-left: 93px;

      @media (max-width: $width-tablet) {
        display: none;
      }
    }

    &--shadow {
      margin-top: 32px;
      margin-left: 43px;

      @media (max-width: $width-tablet) {
        display: none;
      }
    }
  }

  &__letter-shadow {
    content: "";
    position: absolute;
    top: 40px;
    left: 40px;

    @media (max-width: $width-tablet) {
      display: none;
    }
  }
}
