$fhilosopher: "Philosopher", "Arial", sans-serif;
$geometria: "Geometria", "Arial", sans-serif;

$white: #ffffff;
$black: #000000;
$yellow: #f7e611;
$light-color: #f2f2f2;
$light-grey: #cecece;

$width-max: 1440px;
$width-decktop-min: 1200px;
$width-tablet-max: 1024px;
$width-tablet: 767px;
$width-min: 320px;
